{% macro external(icon) %}
{% if icon == "link" %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
  stroke-width="2"·
  stroke-linecap="round" stroke-linejoin="round" height="12" width="12">
  <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
  <path d="M15 3h6v6"></path>
  <path d="M10 14L21 3"></path>
</svg>
{% elif icon == "robot" %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="12" width="12">
  <path d="M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6z"></path>
    <circle cx="8" cy="12" r="1.5"></circle>
    <circle cx="16" cy="12" r="1.5"></circle>
{% endif %}
{% endmacro external %}