{% import "macros/social_icon.svg.html" as macro_social -%}
{% import "macros/external-link.svg.html" as macro_external -%}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ config.extra.cela.home_title }}</h1>
    </header>
    <div class="entry-content">
        {% block home_entry_content %}
        {{ config.extra.cela.home_content | markdown(inline=true) | safe }}
        {% endblock %}
    </div>
    <footer class="entry-footer">
        {% include "partials/social_icons.html" %}
    </footer>
</article>